<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ubordeaux.medikit" version="0.0.1">
    <name>Medikit</name>
    <description>
        Gerer vos medicaments facilement.
    </description>
    <author email="zakaria.belarfaoui@gmail.com">
        Medkit Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://10.210.147.243:8100" />
    <engine name="browser" spec="5.0.3" />
    <engine name="ios" spec="~4.5.4" />
    <engine name="android" spec="~7.0.0" />
    <plugin name="cordova-sqlite-storage" spec="^2.3.0" />
</widget>
