<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ubordeaux.medikit" version="0.0.1">
    <name>Medikit</name>
    <description>
        Gerer vos medicaments facilement.
    </description>
    <author email="zakaria.belarfaoui@gmail.com">
        Medkit Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://10.210.147.243:8100" />
    <allow-navigation href="http://10.210.147.243:8102" />
    <engine name="android" spec="7.0.0" />
    <engine name="browser" spec="5.0.3" />
    <engine name="ios" spec="4.5.4" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^7.0.2" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-ionic-webview" spec="^1.1.16" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="^2.0.5" />
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.2" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.1" />
    <plugin name="cordova-sqlite-storage" spec="^2.3.0" />
    <plugin name="cordova-plugin-camera" spec="^4.0.2" />
    <plugin name="cordova.plugins.diagnostic" spec="^4.0.3" />
</widget>
