<!-- Generated template for the FabButtonComponent component -->
  <ion-fab bottom center >
    <button ion-fab style="background:#607D8B;">
        <ion-icon name="add" style="font-size: 35px;"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="scan()"  style="background: #90A4AE;" >
        <ion-icon name="camera"  style="font-size: 25px;"></ion-icon>
      </button>

      <button ion-fab color="primary" (click)="add()"  style="background: #90A4AE;" >
        <ion-icon name="medkit" style="font-size: 25px;"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>